/* --General-- */

body{
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: url("..img/placeholder2.png");
  color: rgb(0, 0, 0); 
}

h1, h2, h3, h4, h5{
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; 
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #2f89fc; 
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none; 
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer p {
  color: rgba(255, 255, 255, 0.5); 
}

/* div{
  border: solid rgb(255, 0, 0);
} */

/* --Home-- */

body#home{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #90e1ef62, #caf0f862), url('../img/placeholder2.png');
  background-size: cover;
  position: relative;
  padding: 0;
}



/* --About Me-- */

body#aboutMe div#content div{
  color: blue;
}

/* .imgStack{
  display: grid;
} */



.imgStackImg{
  height: 200px;
  width: 200px;
} 

.imgStackImg:first-of-type{
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  border: black solid;
  float: left;
}

.imgStackImg:last-of-type{
  position: relative;
  left: -100px;
  top: 100px;
  z-index: 1;
  border: black solid;
  float: left;
}

/* --Past Work-- */

.card-img-top{
  width: 100%;
  height: 200px;
  border-bottom: solid;
}

.pastWorkCards{
  border: solid
}

/* --Resume-- */

/* --Services-- */

/* --Skills-- */

/*--Swiper--*/

.swiper-container {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* --Nav-- */

button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}

button:hover, button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  background-color: #0096C7;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; 
}

#navBackground{
  border-top: solid 3px;
  border-left: solid 3px;
  border-color: #0096C7;
}

.wrapper {
  width: 100%; 
}

#sidebar .h6 {
  color: #fff; 
}

#sidebar.active {
  margin-left: -300px; 
}

#sidebar.active .custom-menu {
  margin-right: -50px; 
}
    
#sidebar.active .btn.btn-primary:before {
  content: "\f053";
  font-family: "FontAwesome";
  right: 2px !important; 
}
    
#sidebar.active .btn.btn-primary:after {
  display: none; 
}
    
#sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px; 
}

#sidebar h1 .logo {
  color: #fff;
  display: block;
  padding: 10px 30px;
  background: #2f89fc; 
}
    
#sidebar ul.components {
  padding: 0; 
}

#sidebar ul li {
  font-size: 16px; 
}

#sidebar ul li > ul {
  margin-left: 0px; 
  border-left: solid #CAF0F8 1px;
  border-bottom: solid #CAF0F8 1px;
}
    
#sidebar ul li > ul li {
  font-size: 14px; 
}
    
#sidebar ul li a {
  padding: 15px 30px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); 
}
    
#sidebar ul li a span.notif {
  position: relative; 
}
    
#sidebar ul li a span.notif small {
  position: absolute;
  top: -3px;
  bottom: 0;
  right: -3px;
  width: 12px;
  height: 12px;
  content: '';
  background-color: #0096C7;
  border-radius: 50%;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 8px; 
}
        
#sidebar ul li a:hover {
  color: #fff;
  background: linear-gradient(210deg, #0E0E52 15%, #0077B6, #00B4D8);
  border-bottom: 1px solid #2f89fc; 
}
    
#sidebar ul li.active > a {
    background-color: #0096C7;
    color: #fff; 
}
    
#sidebar ul li.active > a:hover {
  background: linear-gradient(210deg, #0E0E52 20%, #0077B6, #00B4D8);
}

.dropdown-toggle.active{
  border-top: solid #CAF0F8 1px;
  border-bottom: solid #CAF0F8 1px;
  border-left: solid #CAF0F8 1px;
}
    
#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}
    
#sidebar .custom-menu .btn.btn-primary {
  background: #0096C7;
  border-color: transparent;
  position: relative;
  color: #000;
  width: 30px;
  height: 30px; 
}
    
#sidebar .custom-menu .btn.btn-primary:after, #sidebar .custom-menu .btn.btn-primary:before {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "FontAwesome";
  color: #fff; 
}
    
#sidebar .custom-menu .btn.btn-primary:after {
  content: "\f054";
  left: 2px; 
}

.bg-wrap {
  width: 100%;
  position: relative;
  z-index: 0; 
}

.bg-wrap:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000;
  opacity: .3; 
}

.bg-wrap .user-logo .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px; 
}

.bg-wrap .user-logo h3 {
  color: #fff;
  font-size: 18px; 
}

a[data-toggle="collapse"] {
  position: relative; 
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(50%); 
}

.btn.btn-primary {
  background: #0096C7;
  border-color: #CAF0F8; 
}
.btn.btn-primary:focus {
  background: #0096C7;
  border-color: #CAF0F8; 
}
.btn.btn-primary:hover{
    background: #48CAE4 !important;
    border-color: #CAF0F8 !important; 
}
/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
