/*@keyframes blip{
    0%{background: linear-gradient(210deg, #00B4D8, #90E0EF, #CAF0F8) ;}
    50%{background: linear-gradient(210deg, #90E0EF, #CAF0F8, #00B4D8) ;}
    100%{background: linear-gradient(210deg, #CAF0F8, #00B4D8, #90E0EF) ;}
  }*/

